body{
    background-color:gray;
}
canvas {
    border: 2px solid gray;
    /*pozitionam canvas-ul la jumatatea ferestrei */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px; /* jumătate din lățimea canvas-ului */
    margin-top: -300px; /* jumătate din înălțimea canvas-ului */

    background-color:black;
}

#btnStart{
    border: 2px solid gray;
    border-radius:2px;
    background-color:lightblue;
}

#nume {
    border: 2px solid gray;
    border-radius: 2px;
    background-color:lightblue;
}